* {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section-1-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
}

.signup-content {
    width: 400px;
    margin-right: 30px;
}

.img-container {
    width: 350px;
}

.section-1 {
    padding: 20px 150px;
    background: #1f2937;
}

h3 {
    color: #f9faf8;
    font-size: 24px;
    margin: 0px;
    margin-right: 30px;
}

h1 {
    font-size: 40px;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    color: #f9faf8;
    background: #3882f6;
    margin-top: 10px;
    border-radius: 6px;
    padding: 5px 20px;
    border-style: none;
}

.illustration {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    margin: auto;
}

.section-2 {
    text-align: center;
    padding: 50px 200px;
}

.info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    gap: 50px;
}

.info-card {
    width: 100px;
}

.info-subtext {
    font-size: 18px;
    color: #656565;
}